<div class="header-limiter">
  <h1><a href="#">Company<span>logo</span></a></h1>

  <nav>
    <a href="#">Produce</a>
    <a href="#">Moving & Storage</a>
    <a href="#">Consignments</a>
  </nav>

  <% if user_signed_in? %>
    <ul>
      <li><%= link_to 'Edit Your Account', edit_user_registration_path %></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete' %></li>
    </ul>
    <% else %>
    <ul>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to 'Register', new_user_registration_path %></li>
    </ul>
  <% end %>
</div>
